<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Portafolio.la</title>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>

	<header id="yo" class="Header">
		<nav class="MainMenu">
			<!--
			     1. Una lista ordena aparece con viñetas numerdas
			     *. Una listas desordenada aparece con puntos
			-->
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#yo">Yo</a>
				</li>
				<li class="MainMenu-item">
					<a href="#perfil">Perfil</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#trabajo">Trabajo</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#contacto">Contacto</a>
				</li>
			</ul>
		</nav>
		<figure class="Header-imageCountainer">
			<img src="avatar.jpg" alt="Imagen Personal" class="Header-image">
			<figcaption class="Header-description">
				<a class="Header-link" href="http://twitter.com/WillysBaquero/" target="_black">@WillysBaquero</a>
			</figcaption>
			<p class="Header-name">
				Wilinton Baquero
			</p>
		</figure>
	</header>

	<section id="perfil" class="Profile">
		<h2 class="Profile-title u-title">Mi Perfil</h2>
		<p class="Profile-description">
			<strong>Hola!</strong> Si <span class="Profile-span">llegaste</span> hasta aqui puedes ver mi portafolio y contáctame...
		</p>
		<a class="Profile-link" href="http://twitter.com/WillysBaquero/" target="_black">@WillysBaquero</a>
		<a class="Profile-link" href="http://facebook.com/Wilinton.Baquero/" target="_black">Wilinton.Baquero</a>
		<a class="Profile-link" href="http://github.com/Willys96/" target="_black">Willys96</a>
	</section>
	<section id="trabajo" class="Work">
		<h2 class="Work-title u-title">Mi Trabajo</h2>
		<article class="Work-item">
			<figure class="Work-imageCountanier">
				<img class="Work-image" src="mejorandola.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description"  >Webside de Mejorando.la</figcaption >
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageCountanier">
				<img class="Work-image" src="mejorandola.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description">Webside de Mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageCountanier">
				<img src="mejorandola.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description">Webside de Mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageCountanier">
				<img src="mejorandola.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description">Webside de Mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageCountanier">
				<img src="mejorandola.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description">Webside de Mejorando.la</figcaption>
			</figure>
		</article>

	</section>

	<footer id="contacto" class="Footer">
		<h3 class="Footer-title ">Contacto</h3>
		<p>Tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
		<form class="Footer-form">
			<input class="Footer-formInput" type="text" placeholder="Nombre" />
			<input class="Footer-formInput" type="email" placeholder="E-mail" />
			<textarea class="Footer-textArea" placeholder="Motivo"></textarea>
			<button class="Footer-button" type="submit">Contactarme</button>
		</form>

	</footer>

</body>
</html>